{% extends 'base.html' %}

{% block content %}

<head>
  <title>Help Page</title>


  <style>
    .page_text {
        text-align: left;
        margin-left: 2%;
    }

  </style>


</head>

<body>
  <div class="container">
    <br><br>
    <h1>Help Page</h1>
    <br><hr><br>

    <h2>About Us</h2>
    <p>We are a passionate team of Monash University students with one goal in mind: to help other students find suburbs that are most suited to their needs. 
      Currently, this application only supports suburbs and universities within Victoria. </p>
    <br>
    
    <h2>Privacy Statement</h2>
    <h4>Personal Data</h4>
    <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. 
      The personally identifiable information only includes your email address</p>
    <br>
    <h4>Use of Your Personal Data</h4>
    <p>The Company may use Personal Data for the following purposes: to contact you, to manage your requests and for other general general purposes
      We will never share your personal information with any other parties without your consent.
    </p>
    <br>
    <h4>Retention of Your Personal Data</h4>
    <p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data 
      to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and 
      enforce our legal agreements and policies.
    </p>




    <br>
    
    <h2>Terms and Conditions</h2>
    <h4>License</h4>


    <p>These terms and conditions outline the rules and regulations for the use of SuburbRecommender's Website, located at suburbrecommender.com.
      Unless otherwise stated, SuburbRecommender and/or its licensors own the intellectual property rights for all material on suburbrecommender.com. All intellectual property rights are 
      reserved. You may access this from suburbrecommender.com for your own personal use subjected to restrictions set in these terms and conditions.
      You must not:
      <ul>
        <li>Republish material from SuburbRecommender</li>
        <li>Sell, rent or sub-license material from SuburbRecommender</li>
        <li>Reproduce, duplicate or copy material from SuburbRecommender</li>
        <li>Redistribute content from SuburbRecommender</li>
      </ul>
      
    </p>

    <br>
    <h4>Cookies</h4>
    <p>We do not employ the use of cookies.</p>

    <br>

  </div>
</body>

{% endblock content %}